# Environment variables
.env

# Virtual Environment
venv/
env/
.venv/
.ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development settings
.env.local
.env.development.local
.env.test.local
.env.production.local

# System Files
.DS_Store
Thumbs.db